/* CSS for win and lose pages of website */

body {
  position: relative;
  overflow-y: hidden;
}

.result-message {
  width: 50%;
  z-index: 1;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px black;
  border: 10px solid rgba(202,164,114,1);
}

.result-message h2 {
  text-transform: uppercase;
}

.result-message p {
  padding-bottom: 1em;
}

#win {
  color:white;
  background:rgba(0,155,0,0.9);
}



#lose {
  color:white;
  background: rgba(220,50,50,0.9);
}







#score {
  color:black;
  background:yellow;
  border-radius: 0.5em;
  padding:0 0.2em;
}

#try-again {
  text-transform: uppercase;
  text-decoration: none;
  background: green;
  padding: 0.2em 1em;
  border-radius:0.5em;
  color:white;
}

#try-again:hover{
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 rgba(10,10,10,0.8), 0 0 4px 0 rgba(10,10,10,0.8);
}

#learn-more:visited {
  color:brown;
}

#learn-more:hover{
  color:yellow;
}

#learn-more:active {
  color:white;
}

#learn-more {
  color:pink;
}

/* ********************MEDIA QUERIES & ANIMATION******************** */





@media (max-width:1500px){
  #monster {
    width:300px;
  }
}
